.layoutContainer {
  z-index:999;
  display: block;
  padding: 0px 11.5%;
  margin: 80px 0px;
  position:relative;
}

@media only screen and (max-width: 780px) { 
  .layoutContainer{
    padding: 0px 20px;
    margin: 40px 0px;
  }
}