.backgroundImage {
  width: 100%;
  position: relative;
}

.soloBackgroundImage {
  width: 250px;
  position: relative;
}


.soloBackgroundImage::before {
  content: "";
  display: block;
  padding-top: 100%;	 
}

.backgroundImage::before {
  content: "";
  display: block;
  padding-top: 100%;	 
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 64px 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  justify-content: space-between
}

.searchContainer {
  width: 850px;
}

.sortContainer {
  width: 220px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

@media only screen and (max-width: 780px) { 
  .container{
    grid-template-columns: repeat(2, minmax(153px, 1fr));
    gap: 24px 20px;
  }

  .inputContainer {
    gap: 0px 20px;
  }

  .searchContainer {
    width: 100%;
  }

  .sortContainer {
    width: 100%;
  }

  .soloBackgroundImage {
    width: 100%;
  }

  .buttonContainer {
    flex-direction: column-reverse;
    gap: 16px;
  }
}
